<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @educational_detail.user_id %>
</p>

<p>
  <strong>Basic qualification:</strong>
  <%= @educational_detail.basic_qualification %>
</p>

<p>
  <strong>Year of passing bq:</strong>
  <%= @educational_detail.year_of_passing_BQ %>
</p>

<p>
  <strong>Percentage bq:</strong>
  <%= @educational_detail.percentage_BQ %>
</p>

<p>
  <strong>University bq:</strong>
  <%= @educational_detail.university_BQ %>
</p>

<p>
  <strong>Post graduation:</strong>
  <%= @educational_detail.post_graduation %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @educational_detail.percentage %>
</p>

<p>
  <strong>Year of passing:</strong>
  <%= @educational_detail.year_of_passing %>
</p>

<p>
  <strong>University:</strong>
  <%= @educational_detail.university %>
</p>

<%= link_to 'Edit', edit_educational_detail_path(@educational_detail) %> |
<%= link_to 'Back', educational_details_path %>
