<p id="notice"><%= notice %></p>

<h1>Jobseekars</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Dob</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobseekars.each do |jobseekar| %>
      <tr>
        <td><%= jobseekar.user_id %></td>
        <td><%= jobseekar.dob %></td>
        <td><%= jobseekar.gender %></td>
        <td><%= link_to 'Show', jobseekar %></td>
        <td><%= link_to 'Edit', edit_jobseekar_path(jobseekar) %></td>
        <td><%= link_to 'Destroy', jobseekar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobseekar', new_jobseekar_path %>
